body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans Narrow", Arial, sans-serif;

    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url(/img/font2.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color:white;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: black;
    border: none;
}
.button:hover,
.button:active,
.button:active {
    background-color: #663D15;
}

.header {
    min-height: 285px;
}

.nav {
    font-size: 16px;
    line-height: 20px;
    color:white;

    min-height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: transparent;
}
.logo {
    width: 371;
    height: 153;
    order: 2;
}
.nav-cont {
    width: 100%;
    margin-bottom: 60px;
    min-height: 70px;
    background-color: black;
}
.nav-cont-2 {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.nav-cont .nav-cont-2 {
    display: flex;
    justify-content: space-between;
}
.ul-nav {
    width: 620px;
    margin: 0px;
    padding: 8px;
    list-style: none;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-li {
    list-style: none;
    color: white;
}
.nav-item focus,
.nav-item hover 
{
    background-color: #242424;
    color: white;
}
.ul-login {
    width: 140px;
    margin: 0px;
    padding: 8px;
    list-style: none;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list {
    opacity: 0;
    margin: 0px;
    padding: 0px;
}
.list-2 {
    opacity: 0;
    margin: 0px;
    padding: 0px;
}


.advantages-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 192px;
    margin-bottom: 83px;

    display: flex;
    justify-content: space-between;
}
.advantages-item {
    width: 300px;
    text-align: center;
}
.advantages-item h3 {
    font-size: 30px;
    line-height: 42px;
}

.box-1 {
    background-image: none;
    background-color: transparent;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}
.news {
    width: 380px;
    min-height: 315px;
}
.gallery {
    width: 300px;
    min-height: 315px;
}
.news-item {
    color: black;

    font: inherit;

    text-align: center;
    color: #ffffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: black;
    border: none;
}
.news-item:hover,
.news-item:active,
.news-item:active {
    background-color: #663D15;
}
.box-1 {
    color: black;
    background-color: whitesmoke;
    background-position: 0 0;
    background-repeat: repeat;
}
.box-1 h2 {
    font-size: 30px;
    line-height: 42px;
}
.text-list {
    list-style: none;
}
.news-date {
    text-transform: none;
}
.slide {
    background-color: #cccccc;
    border: 7px solid #ffffffff;
}
.reservation-item input{
    font: inherit;

    background-color: transparent;
    border: 2px solid #0000;
}
.reservation-item input:focus {
    border-color: #663d15;
}

.footer {
    color: #ffffff;

    background-color: #212121;
    background-position: 0 0;
    background-repeat: repeat;

    margin-top: 65px;
    min-height: 180px;
    padding: 60px 0;
}
.footer-cont {
     margin: 0px;
     min-height: 100px;
     display: flex;
}
.contacts-footer {
    margin: 0px;
    min-height: 100px;
    width: 330px;
    margin-right: 80px;
}
.friend {
    margin: 0px;
}
.footer a{
    list-style: none;
    color: #ffffff;
    text-decoration: underline;   
}
.footer a:focus,
.footer a:hover {
    text-decoration: none;
}
.label {
    text-align: center;
    min-height: 100px;
    width: 145px;
}
.label ul {
    list-style: none;
}
.lable-icon {
    color: #ffffff;
}
.footer-copyright {
    width: 150px;
    text-align: center;
    margin: 0px;
    min-height: 100px;
    margin-left: auto;
}
.footer-copyright button:focus,
.footer-copyright button:hover {
    color: #000000;
    background-color: #ffffff;
}

.login {
    color: #000000;

    background-color: #f8f3f0;
    background-position: 0 0;
    background-repeat: repeat;
}
.login-h2 {
    font-size: 30px;
    line-height: 42px;
}
.login-form input[type="text"],
.login-form input[type="password"] {
    font: inherit;
    color: #000000;
    text-transform: uppercase;

    background-color: #f9f6f3;
    border: 2px solid #000000;
}
.login-form input:focus {
    background-color: #663d15;
}
.chekbox-main:hover,
.chekbox-main:focus {
    color: #663d15;
}
.checkbox-link {
    color: inherit;
    text-decoration: underline;
}
.checkbox-link:hover,
.checkbox-link:focus {
    text-decoration: none;
}



